* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    padding-top: 2.5%;
}

h2 {
    margin-top: 5%;
}

h3 {
    padding-left: 1.5%;
    color: rgb(206, 114, 1);
    margin-top: 5%;
}

.topicos {
    color: black;
}

.topicos > h2 {
    padding-top: 3%;
    color:blue; 
}

button {
    background-color: rgb(232, 172, 116);
    padding: 1%;
    margin-top: 1%;
    margin-left: 1.5%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 6%;

}