h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 4%;
}
.exercicios_button {
    display: flex;
    margin-top: 1%;
    flex-direction: column;   
    flex-wrap: wrap;
    width: 9%;
    padding-left: 44%;
}

button {
    margin-top: 2%;
    width: 9vmax;
    background-color: rgb(232, 172, 116);
    border: 1px solid black;
    border-radius: 3%;
}
